.LandingPage {
  width: 100%;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.desc {
  font-size: 3rem;
  font-weight: bold;
 text-align: center;
  height: fit-content;
  letter-spacing: 0.1rem;
  background: linear-gradient(135deg, #6f00ff, #b200ff, #ff0080, #6f00ff);
  background-clip: text;
  background-size: 300% 300%;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 4s infinite linear;
}
@keyframes gradientMove {
  0% {
    background-position: 20% 70%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 20% 70%;
  }
}



