.cardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2rem 0 4rem 0; 
  }
 
  h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(46, 45, 45);
  }