.sidebar {
    width: 20%;
    height: 100vh;
    background:white;
    color: #34495e;
    padding: 1.2rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .logo {
   width: 100%;
   display: flex;
   justify-content: center;
   margin-bottom: 1.5rem;
  }
  .logo img{
    width: 50%;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 0.8rem 1.3rem;
    cursor: pointer;
    display: flex;
    transition: background 0.3s;
    border-radius: 4px;
  }
  
  .menu li:hover {
    background: #b013e4;
    color: white;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .dropdown:hover {
    background: transparent;
  }
  .verify{
    display: flex;
    justify-content: flex-start;
  }
  .verify:hover{
    background: none;
  }
  
  .subMenu {
    list-style: none;
    padding: 5px 20px 5px 30px;

    color: #34495e;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .subMenu li {
    padding: 5px 0;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .subMenu li:hover {
        background-color: #34495e;
  }
  
  .chevron {
    margin-left: auto;
    transition: transform 0.3s;
  }
  
  .rotate {
    transform: rotate(180deg);
  }
  