@import "tailwindcss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
}

.outlet{
    background-color:rgba(245, 211, 248, 0.66);
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  
 /* Basic Button */
 .button {
  padding: 0.6rem 1rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #8e2de2, #4a00e0, #ff00ff); 
  color: white;

 }
 .button:hover {
  background-size: 400% 400%;
  animation: gradientAnimation 6s infinite linear;
}
@keyframes gradientAnimation {
  0% {
      background-position: left;
  }
  25%{
    background-position: right;
  }
  50%{
    background-position: left;
  }
  75%{
    background-position: right;
  }
  100% {
      background-position: left;
  }
}
.flexCol{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}